section.profile-form {
  padding: 269px 20px 100px 20px;
}

section.profile-form .content {
  background: #fffaf6;
  padding: 67px;
  border-radius: 30px;
}

section.profile-form .content h1 {
  font-size: 6.4rem;
  font-family: var(--primary-font);
  line-height: 116%;
  color: var(--secndary-text-color-dark);
}

section.profile-form .buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
  margin-top: 46px;
}

section.profile-form .buttons :is(.back-btn, .cancel-btn) {
  background: #ffefe3;
  color: var(--secndary-text-color-dark);
  font-size: 2.2rem;
  line-height: 23px;
  padding: 15px 65px;
  border-radius: 11px;
}

section.profile-form .buttons :is(.next-btn, .save-btn) {
  background: var(--secndary-bg-color);
  color: var(--action-color);
  font-size: 2.2rem;
  line-height: 23px;
  padding: 15px 65px;
  border-radius: 11px;
}

h4 {
  font-size: 2.8rem;
  font-family: var(--primary-font);
  color: var(--secndary-text-color-dark);
  line-height: 116%;
  margin-top: 50px;
}

label {
  font-size: 1.8rem;
  font-family: var(--primary-font);
  color: var(--secndary-text-color-dark);
  line-height: 120%;
  font-weight: 400;
}

input,
select,
textarea {
  height: 55px;
  padding: 14px 20px 14px 23px;
  font-size: 1.8rem;
  font-family: var(--primary-font);
  color: var(--secndary-text-color-gray);
  max-width: 100%;
  width: 100%;
  background: #f4eae3;
  border-radius: 12px;
  border: none;
  outline: none;
  margin-top: 8px;
}

textarea {
  min-height: 100px;
}

input::placeholder {
  color: var(--secndary-text-color-gray);
}

.cal-1 {
  margin-top: 20px;
}

.cal-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.cal-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.step {
  display: none;
}

.step.active {
  display: block;
}

@media screen and (max-width: 1380px) {
  html {
    font-size: 50.5%;
  }
}

@media screen and (max-width: 1260px) {
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 800px) {
  .cal-3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .cal-3 .input-fill:nth-child(3) {
    grid-column: 1/3;
  }

  section.profile-form .content {
    padding: 40px;
  }
}

@media screen and (max-width: 600px) {
  .cal-2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .cal-3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .cal-3 .input-fill:nth-child(3) {
    grid-column: unset;
  }

  section.profile-form {
    padding: 169px 20px 100px 20px;
  }

  section.profile-form .content {
    padding: 20px;
  }

  section.profile-form .buttons {
    justify-content: center;
    flex-direction: column;
  }

  section.profile-form .buttons :is(.back-btn, .cancel-btn) {
    padding: 15px 35px;
    width: 100% !important;
    order: 2;
  }

  section.profile-form .buttons :is(.next-btn, .save-btn) {
    padding: 15px 35px;
    width: 100%;
    order: 1;
  }
  section.profile-form .content h1 {
    font-size: 4rem;
    text-align: center;
  }
}
