/* =============================================
-------- hero section ---------
================================================ */
section.hero {
  min-height: 1095px;
  height: 100%;
  background: url(../media/hero-bg.jpg) center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: end;
}

section.hero .content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to bottom, #6b060600 0%, #6b0606 100%);
  padding: 0 20px 96px;
}

section.hero .content h1 {
  font-size: clamp(3rem, 7vw, 8.4rem);
  line-height: 100%;
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  text-align: center;
}

section.hero button {
  margin-top: 30px;
}

/* =============================================
-------- bird section ---------
================================================ */
section.bird {
  background: linear-gradient(#6b0606, #fdf3ec);
  padding: 185px 20px;
}

section.bird .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 112px;
}

section.bird .counter {
  text-align: center;
}

section.bird .content h4 {
  font-size: clamp(2rem, 5vw, 7.4rem);
  font-family: var(--primary-font);
  line-height: 100%;
  font-weight: 500;
  color: var(--primary-text-color);
}

section.bird .content p {
  font-size: clamp(1.2rem, 1.5vw, 2rem);
  font-weight: 400;
  font-family: var(--primary-font);
  line-height: 120%;
  color: var(--primary-text-color);
  margin-top: 16px;
}

section.bird .center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

section.bird .center div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.bird .center img {
  width: clamp(150px, 100%, 668px);
}

/* =============================================
-------- real people ---------
================================================ */
section.realPeople {
  padding: 100px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-bg-color);
}

section.realPeople h1 {
  font-family: var(--primary-font);
  font-size: 6.4rem;
  font-size: clamp(2.8rem, 5vw, 6.4rem);
  font-weight: 500;
  text-align: center;
}

section.realPeople .card-group {
  margin-top: 80px;
  width: 100%;
}

section.realPeople .card {
  display: flex;
}

section.realPeople .card .left {
  display: flex;
  flex-direction: column;
  align-items: var(--aline);
}

section.realPeople .card .left,
section.realPeople .card .right {
  width: 100%;
  order: var(--order);
}

section.realPeople .card:nth-child(odd) .left .content {
  padding: 196px 20px 56px 20px;
}

section.realPeople .card:nth-child(even) .left .content {
  padding: 196px 0px 56px 60px;
}

section.realPeople .card .left .content {
  padding: 196px 0px 56px 0px;
  width: min(660px, 100%);
}

section.realPeople .card img {
  width: min(540px, 100%);
}

section.realPeople .card .left h3 {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 5.4rem;
  font-size: clamp(2.5rem, 5vw, 5.4rem);
  color: var(--secndary-text-color-dark);
  line-height: 100%;
  margin-top: 60px;
  width: 100%;
}

section.realPeople .card:nth-child(even) .left :is(h3, p) {
  color: var(--primary-text-color);
}

section.realPeople .card .left p {
  font-size: 2.4rem;
  font-size: clamp(1.4rem, 3vw, 2.4rem);
  font-weight: 400;
  font-family: var(--primary-font);
  line-height: 140%;
  color: var(----secndary-text-color-gray);
  margin-top: 10px;
  width: 100%;
}

section.realPeople .card:nth-child(even) .left {
  background: var(--secndary-bg-color);
}

section.realPeople .card:nth-child(1) .right {
  background: url("../media/realpeoplecard1.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}

section.realPeople .card:nth-child(2) .right {
  background: url("../media/realpeoplecard2.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}

section.realPeople .card:nth-child(3) .right {
  background: url("../media/realpeoplecard3.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}

section.realPeople .card:nth-child(4) .right {
  background: url("../media/realpeoplecard4.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}

section.realPeople button {
  background: var(--secndary-bg-color);
  color: var(--primary-text-color);
  margin-top: 120px;
}

section.realPeople button::after {
  background: var(--secndary-bg-color);
  color: var(--primary-text-color);
}

/* =============================================
-------- slider section ---------
================================================ */
section.infinite-slider {
  background: var(--primary-bg-color);
  padding: 60px 0px 120px 0px;
}

section.infinite-slider .slider {
  overflow: hidden;
  width: 100%;
}

section.infinite-slider .slider:nth-child(2) {
  margin-top: 30px;
}

section.infinite-slider .slider-wraper {
  display: flex;
  gap: 30px;
  will-change: transform;
}

section.infinite-slider .slider .card {
  min-width: 562px;
  height: 350px;
  border-radius: 36px;
  overflow: hidden;
}

section.infinite-slider .slider .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* =============================================
-------- Member Reflections ---------
================================================ */
section.member-reflections {
  padding: 60px 20px 70px 20px;
  background: var(--primary-bg-color);
}

section.member-reflections h1 {
  font-size: clamp(2.8rem, 5vw, 6.4rem);
  font-family: var(--primary-font);
  font-weight: 500;
}

section.member-reflections .swiper {
  margin-top: 40px;
}

section.member-reflections .swiper-wrapper .card {
  background: var(--secndary-bg-color);
  padding: 42px;
  border-radius: 42px;
}

section.member-reflections .swiper-wrapper .card p {
  font-size: clamp(1.8rem, 2.5vw, 3.2rem);
  line-height: 120%;
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  font-weight: 500;
}

section.member-reflections .swiper-wrapper .card .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(1.4rem, 2.3vw, 2.4rem);
  font-weight: 400;
  margin-top: 57px;
  font-family: var(--primary-font);
  color: var(--primary-text-color);
}

section.member-reflections .slider-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

section.member-reflections button {
  height: 54px;
  width: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secndary-bg-color);
  border-radius: 50%;
  color: var(--primary-text-color);
  margin-top: 40px;
  font-size: clamp(1.2rem, 2.3vw, 2.2rem);
}

/* =============================================
-------- footer ---------
================================================ */
footer {
  padding: 60px;
  background: rgba(107, 6, 6, 1);
}

footer .footer-top {
  display: flex;
  justify-content: space-between;
}

footer .footer-top .left {
  width: min(474px, 100%);
  padding-right: 47px;
  border-right: 1px solid rgba(137, 70, 64, 1);
}

footer .footer-top .left img {
  width: min(427px, 100%);
}

footer .footer-top .left p {
  font-size: clamp(14px, 2.2vw, 18px);
  width: min(427px, 100%);
  font-weight: 400;
  font-family: var(--primary-font);
  color: rgba(253, 243, 236, 1);
  line-height: 140%;
}

footer .footer-top form {
  margin-top: 47px;
  height: 54px;
  display: flex;
}

footer .footer-top form input {
  width: min(276px, 100%);
  height: 100%;
  background: rgba(114, 15, 15, 1);
  padding: 14px 20px;
  font-size: clamp(12px, 2vw, 16px);
  line-height: 120%;
  font-weight: 400;
  border-radius: 30px;
  margin-right: 10px;
  border: none;
  outline: none;
}

footer .footer-top form button {
  width: min(141px, 100%);
  height: 100%;
  padding: 14px 35px;
  font-size: clamp(14px, 2.2vw, 18px);
  background: rgba(253, 243, 236, 1);
  border-radius: 30px;
  font-family: var(--primary-font);
  line-height: 120%;
}

footer .footer-top .right {
  width: min(846px, 100%);
  padding-left: 47px;
}

footer .footer-top .right .right-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-top .right .right-top p {
  font-size: clamp(14px, 2.4vw, 20px);
  font-family: var(--primary-font);
  color: rgba(253, 243, 236, 1);
  font-weight: 500;
  line-height: 140%;
}

footer .footer-top .right .right-top .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

footer .footer-top .right .right-top .icons img {
  width: min(56px, 100%);
  margin-top: 20px;
}

footer .footer-top .right .right-top .icons img {
  width: min(56px, 100%);
  margin-top: 20px;
}

footer .footer-top .right .right-top button {
  transform: translateX(-57px);
}

footer .footer-top .right .right-menu {
  background: rgba(114, 15, 15, 1);
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 94px;
  border-radius: 20px;
}

footer .footer-top .right .right-menu .menu-1,
footer .footer-top .right .right-menu .menu-2 {
  width: min(142px, 100%);
}

footer .footer-top .right .right-menu .menu-3 {
  width: min(253px, 100%);
}

footer .footer-top .right .right-menu .menu-3 ul li {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

footer .footer-top .right .right-menu h4 {
  font-size: clamp(20px, 2.4vw, 20px);
  font-family: var(--primary-font);
  color: rgba(253, 243, 236, 1);
  font-weight: 500;
  line-height: 140%;
}

footer .footer-top .right .right-menu hr {
  border: none;
  height: 1px;
  background-color: rgba(137, 70, 64, 1);
  margin: 10px 0px;
}

footer .footer-top .right .right-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

footer .footer-top .right .right-menu ul li {
  font-size: clamp(14px, 2.2vw, 16px);
  font-family: var(--primary-font);
  color: rgba(253, 243, 236, 1);
  font-weight: 400;
  line-height: 140%;
}

footer .hr {
  margin: 40px 0px;
  height: 1px;
  background: rgba(137, 70, 64, 1);
  width: 100%;
}

footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

footer .footer-bottom p,
footer .footer-bottom ul li {
  font-size: clamp(14px, 2.2vw, 16px);
  font-family: var(--primary-font);
  color: rgba(253, 243, 236, 1);
  font-weight: 400;
  line-height: 120%;
}

footer .footer-bottom ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 23px;
}

@media screen and (max-width: 1260px) {
  section.realPeople .card:nth-child(even) .left .content {
    padding: 196px 20px 56px 20px;
  }

  footer .footer-top .right .right-menu {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  footer .footer-top .right .right-menu .menu-1,
  footer .footer-top .right .right-menu .menu-2 {
    width: min(100%, 100%);
  }

  footer .footer-top .right .right-menu .menu-3 {
    grid-column: 1 / 3;
    width: min(100%, 100%);
  }
}

@media screen and (max-width: 1000px) {
  section.bird {
    padding: 100px 20px;
  }
  section.bird .center .counter:nth-child(1) {
    text-align: left;
  }

  section.bird .center .counter:nth-child(3) {
    text-align: right;
  }

  section.member-reflections .swiper-wrapper .card {
    padding: 30px;
    border-radius: 30px;
  }
}

@media screen and (max-width: 800px) {
  section.realPeople .card:nth-child(odd) .left .content {
    padding: 60px 20px 20px 20px;
  }

  section.realPeople .card:nth-child(even) .left .content {
    padding: 60px 20px 20px 20px;
  }

  section.infinite-slider .slider .card {
    min-width: 450px;
    height: 300px;
  }

  section.member-reflections .swiper-wrapper .card {
    padding: 20px;
    border-radius: 20px;
  }

  footer .footer-top {
    flex-direction: column;
  }

  footer .footer-top .left {
    width: min(100%, 100%);
    border-right: none;
    border-bottom: 1px solid rgba(137, 70, 64, 1);
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  footer .footer-top .left p {
    text-align: center;
  }

  footer .footer-top .right {
    width: min(100%, 100%);
    padding: 40px 0px;
  }

  footer {
    padding: 30px;
  }
}

@media screen and (max-width: 600px) {
  section.bird .content {
    gap: 40px;
  }

  section.realPeople .card .left h3 {
    margin-top: 40px;
  }

  section.realPeople .card {
    flex-direction: column;
  }

  section.realPeople .card .left,
  section.realPeople .card .right {
    width: 100%;
    order: unset;
  }

  section.realPeople .card .left h3,
  section.realPeople .card .left p {
    text-align: center;
  }

  section.infinite-slider {
    padding: 60px 0px 60px 0px;
  }

  section.infinite-slider .slider .card {
    min-width: 300px;
    height: 200px;
  }

  section.member-reflections h1 {
    text-align: center;
  }

  section.member-reflections .slider-buttons {
    justify-content: center;
  }

  footer {
    padding: 20px;
  }

  footer .footer-top .right .right-menu {
    grid-template-columns: repeat(1, 1fr);
  }

  footer .footer-top .right .right-menu .menu-3 {
    grid-column: unset;
  }

  footer .footer-top .right .right-top {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  footer .footer-top .right .right-top button {
    transform: unset;
  }

  footer .footer-bottom p {
    text-align: center;
  }

  footer .footer-bottom {
    gap: 20px;
    flex-direction: column;
  }
}
