/* hero */
section.membership {
  padding: 308px 20px 96px 20px;
}

section.membership h1 {
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 100%;
  font-family: var(--primary-font);
  color: var(--secndary-text-color-dark);
}

section.membership h6 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--primary-font);
  color: var(--secndary-text-color-gray);
  margin-top: 10px;
}

section.membership .box-group {
  margin-top: 60px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}

section.membership .box-body {
  background-color: #fdf6f1;
  padding: 38px;
  border-radius: 42px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

section.membership .box-body img {
  width: 56px;
}

section.membership .box-body h4 {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 100%;
  font-family: var(--primary-font);
  color: var(--secndary-text-color-dark);
  margin-top: 51px;
}

section.membership .box-body p {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 140%;
  font-family: var(--primary-font);
  color: var(--secndary-text-color-gray);
  margin-top: 10px;
  margin-top: 14px;
}
section.membership .bottom {
    display: flex;
    justify-content: end;
    align-items: center;
}

section.membership button {
  background: var(--secndary-bg-color);
  color: var(--primary-text-color);
  padding: 0px 50px;
  font-size: 1.8rem;
  margin-top: 60px;
  margin-right: 58px;
}

section.membership button::after {
  background: var(--secndary-bg-color);
  color: var(--primary-text-color);
}



/* Frequently Asked Questions */
section.faq {
    display: flex;
}

section.faq :is(.left, .right) {
    width: 50%;
}

section.faq .left {
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    background: url('../media/faq-bg.jpg') no-repeat center bottom / cover;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-bottom: 80px;
}

section.faq .left .content {
    max-width: 660px;
    width: 100%;
}

section.faq .left .content h1 {
    font-size: 7.4rem;
    font-family: var(--primary-font);
    font-weight: 500;
    line-height: 100%;
    color: var(--primary-text-color);
}

section.faq .left .content p {
    font-size: 1.8rem;
    font-family: var(--primary-font);
    font-weight: 500;
    line-height: 120%;
    color: var(--primary-text-color);
    margin-top: 15px;
}

section.faq .right {
    background: var(--secndary-bg-color);
}

section.faq .right .faq-boxs {
    max-width: 660px;
    width: 100%;
    padding: 50px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

section.faq .right .faq-boxs .faq-box {
    height: 80px;
    width: 100%;
    border-radius: 22px;
    overflow: hidden;
    transition: .3s;
}

section.faq .right .faq-boxs .faq-box.active {
    background: #772929;
    height: auto;
    padding: 23px 30px;
}

section.faq .right .faq-boxs .faq-box .qus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 100%;
}

section.faq .right .faq-boxs .faq-box .qus h3 {
    font-size: 2rem;
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--primary-text-color);
    background: #772929;
    border-radius: 22px;
    padding: 0px 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

section.faq .right .faq-boxs .faq-box.active .qus h3 {
    padding: unset;
}

section.faq .right .faq-boxs .faq-box .qus button {
    background: #772929;
    border-radius: 22px;
    height: 100%;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.faq .right .faq-boxs .faq-box.active .qus button {
    min-width: unset;
}

section.faq .right .faq-boxs .faq-box .qus button #faq-open {
    display: flex;
}

section.faq .right .faq-boxs .faq-box.active .qus button #faq-open {
    display: none;
}

section.faq .right .faq-boxs .faq-box .qus button #faq-close {
    display: none;
}

section.faq .right .faq-boxs .faq-box.active .qus button #faq-close {
    display: block;
}

section.faq .right .faq-boxs .faq-box .ans {
    display: none;
}

section.faq .right .faq-boxs .faq-box.active .ans {
    display: block;
}

section.faq .right .faq-boxs .faq-box.active .ans p {
    margin-top: 20px;
    font-size: 18px;
    font-family: var(--primary-font);
    line-height: 140%;
    letter-spacing: -0.31px;
    color: var(--primary-text-color);
}